@font-face 
{
  font-family: "FONT";
  src: url("FONT.otf");
}

body 
{
  font-family: "FONT", sans-serif;
  background-color: rgb(0, 80, 180);
  background-image: url("background.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat-y;
  color: #ffffff;
}

.address-row 
{
  display: flex;
  align-items: center;
  gap: 12px;
}

.image 
{
  width: 40px;
  height: auto;
}